#main {
    height: 700px;
    width: 1000px;
    border: 2px solid black;
    background-color: lightpink;
    position: absolute;
    border-radius: 16px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

h1 {
    font-size: 35pt;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#game {
    height: 500px;
    width: 500px;
    background-color: white;
    margin-right: 40px;
    float: right;
}

.col1 {
    min-width: 79px;
}

.lin1 {
    min-height: 79px;
    height: 79px;
}

#infos {
    background-color: silver;
    width: 400px;
    height: 500px;
    margin-left: 40px;
    float: left;
}

#table-game {
    border-collapse: collapse;
}

#table-game td {
    border: 1px solid black;
    padding: 0 !important;
}